ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .li-direita {
    float: right;
    border-left:1px solid #bbb;
  }
  

  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #a3a92c;
  }

 .w3-teal {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #1a1313 0%, #120d0d 100%);
  background-attachment: fixed;
    background-repeat: no-repeat;
 }

 .w3-button, w3-teal, w3-xlarge {
   background:  linear-gradient(to left, rgb(169, 232, 217), rgbrgb(225, 192, 240))
 }

 body {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #eda8e6 0%, #cce2e4 100%);
  background-attachment: fixed;
    background-repeat: no-repeat;
  

 }



  